name: osc-sdk-C release build
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: apt is for w__p
      run: |
        wget https://github.com/cosmo-ray/json-search/releases/download/0.3.1/json-search-x86_64.AppImage
        chmod +x json-search-x86_64.AppImage
        sudo cp json-search-x86_64.AppImage /bin/json-search
        sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
        sudo chmod +x /usr/bin/yq
        sudo apt-get update --fix-missing
        sudo apt-get install -y -f -o Acquire::Retries=3 jq libjson-c-dev libfuse2
    - name: regen-test
      shell: bash
      run: COGNAC_CONFIG="--yq-go" make regen-test
