name: Outscale API release
on:
  release:
    types: [published]

jobs:
  oapi-cli:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: master
      - name: Trigger oapi-cli build
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: .github/scripts/build-osc-sdk.sh oapi-cli master
