name: Outscale API release
on:
  release:
    types: [published]

jobs:
  oapi-cli:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: master
      - name: Trigger oapi-cli build
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: .github/scripts/build-osc-sdk.sh oapi-cli master
