name: Outscale API release
on:
  release:
    types: [published]

jobs:
  oapi-cli:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: master
      - name: Trigger oapi-cli build
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: .github/scripts/build-osc-sdk.sh oapi-cli master
