name: osc-sdk-C tests
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: install dependancies
      run: |
        sudo apt-get update --fix-missing
        sudo apt-get install -y -f -o Acquire::Retries=3 jq libjson-c-dev libcurl4-openssl-dev
    - name: Build and test
      run: |
        make test
